
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
<div class="signup">
	<div class="signup-connect">
	  <h2 class="text-center">Sign in to your Account</h2>
	  <a (click)="onClick('google')" class="btn btn-social btn-microsoft" style="background: #dd4b39;border: 1px solid;color: white; border: 1px solid;"> <img src="assets/images/common_Images/google-icon.png" alt="Microsoft Logo" class="microsoft-icon"> Sign in with Google</a>
	  <a (click)="onClick('linkedIn')" class="btn btn-social btn-microsoft" style="background: #007bb5;border: 1px solid;color: white; border: 1px solid;"><img src="assets/images/common_Images/linkedIn-Icon.png" alt="Microsoft Logo" class="microsoft-icon"> Sign in with Linkedin</a>
	  <a (click)="onClick('microsoft')" style="background: black;border: 1px solid;color: white; border: 1px solid;" class="btn btn-social btn-microsoft">
        <img src="assets/images/common_Images/window_Icon.png" alt="Microsoft Logo" class="microsoft-icon"> Sign in with Microsoft
    </a>
	<p>By logging in,you agree to our <span>terms of use</span> and <span>Privacy policy</span></p>
	</div>
  </div>
</body>
</html>