  <section id="counts" class="counts" data-aos="fade-right"> 
  <div class="me-2">
    <div class="cur_pointer rounded-circle shadow-sm p-2 back-button" (click)="onBack()">
        <i class="fas fa-arrow-left"></i>
    </div>
</div>

<div class="container mt-4">
  <div class="row mb-3 text-center">
    <div class="col-12 col-sm-6 col-md-2 mb-2" *ngFor="let event of uniqueEventTypes">
      <button  class="btn w-100 cur_pointer" *ngIf="event.name" [ngStyle]="{'background-color': event.colorCode}" (click)="filterByEventType(event.eventType, event.name, event.colorCode)">
        {{ event.name }}
      </button>
    </div>

    <div class="col-12 col-sm-6 col-md-2 mb-2">
      <button class="btn btn-success w-100 cur_pointer" data-bs-toggle="modal" data-bs-target="#eventInfoModal">Post Event</button>
    </div>
    

    <div class="col-12 col-sm-6 col-md-2 mb-2">
      <button class="btn btn-primary w-100 cur_pointer" (click)="filterTodayEvents()">Today</button>
    </div>
    
  </div>
  
    <div class="row">
      <!-- Event Card -->
      <div class="col-12 col-sm-6 col-md-6 mb-4" *ngFor="let events of filteredEvents">
        <div class="card mx-auto h-100 shadow-lg" [ngStyle]="{'border-bottom': '2px solid ' + eventColorCode}">
          <div class="card-body">
            <div class="row">
              <div class="col-4">
                <div class="text-center p-3 text-white rounded d-flex flex-column align-items-center justify-content-center" [ngStyle]="{'background-color': eventColorCode }" style="height: 100px;">
                  <h6 class="mb-0">{{ getMonth(events.event_date) }}</h6>
                  <h2 class="mt-1">{{ getDay(events.event_date) }}</h2>
                </div>
              </div>
              <div class="col-8">
                <p>{{ formatDate(events.event_date) }}</p>
                <div class="text-center mb-2">
                  <button class="btn btn-warning">{{ displayEventName }}</button>
                </div>
                <p class="f-2"><a [href]="events.website_Url" target="_blank">{{ events.event_name | titleCase }}</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
</div>

<div class="modal fade" id="eventInfoModal" tabindex="-1" aria-labelledby="eventInfoModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title mb-0" id="eventInfoModalLabel">Event Information</h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="modal-body">
              <div class="form-group">
                  <label for="eventNameInput">Event Name</label>
                  <input type="text" class="form-control" [(ngModel)]="eventName" placeholder="Enter event name" required>
              </div>
              <div class="form-group">
                  <label for="eventUrlInput">Event Url</label>
                  <input type="text" class="form-control" [(ngModel)]="eventUrl" placeholder="Enter event URL" required>
              </div>
              <div class="form-group">
                  <label for="startDatePicker">Start Date</label>
                  <input type="date" class="form-control" [(ngModel)]="startDate" placeholder="Choose a date" required>
              </div>
              <div class="form-group">
                  <label for="endDatePicker">End Date</label>
                  <input type="date" class="form-control" [(ngModel)]="endDate" placeholder="Choose a date" required>
              </div>
              <div class="form-group">
                  <label for="eventTypeSelect">Event Type</label>
                  <select class="form-select" id="eventTypeSelect" [(ngModel)]="selectedEventType">
                      <option *ngFor="let eventType of eventTypes" [value]="eventType.value">
                          {{ eventType.displayName }}
                      </option>
                  </select>
              </div>
          </div>

          <!-- Modal Footer -->
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" #closeButton data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-success" 
                      [disabled]="!startDate || !endDate || !eventName || !eventUrl || !selectedEventType"
                      (click)="submitForm()">
                  Submit
              </button>
          </div>
      </div>
  </div>
</div>

  </section>

  