body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.main-content {
  margin-left: 250px;
  transition: margin-left 0.3s;
  overflow-x: hidden;
  width: calc(100% - 250px);
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 48px 0 0;
  width: 250px;
  height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal {
  z-index: 9999 !important;
}

.navbar-toggler {
  margin-left: auto;
}

.navbar-dark .navbar-toggler {
  border: solid 1px white;
}

.sidebar .nav-link {
  color: #fff;
  padding: 8px;
}

.sidebar .nav-link.active {
  background-color: #007bff;
}

.nav-link {
  color: #fff;
  align-items: center;
  display: block;
  text-align: center;
  width: 100%;
  padding: 10px 0;
  color: white;
}

.nav-link i {
  margin-right: 10px;
  font-size: 18px;
}

.nav-link.active {
  background-color: #007bff;
}


.social-links {
  margin: 0 0 20px 0;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.nav-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav-row .nav-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 150px;
}

.nav-row .nav-link {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.nav-row .nav-link i {
  margin-right: 10px;
  font-size: 18px;
}

.social-links a {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: black; */
  color: #fff;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  transition: 0.3s;
}

.Social_theme_bg {
  background-color: black;
}

.social_dark_theme {
  background-color: lightslategray;
}

.social-links a:hover {
  color: #ff5733;
  background: #fff;
}

hr {
  height: 0.5px;
}

.logout-container {
  position: absolute;
  top: 10px;
  right: 10px;
}

.version-tag {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.7rem;
}

.active-link {
  background-color: #ffffff6e;
  border-radius: 10px;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
}

.selected-theme {
  border: 3px solid blue;
  border-radius: 5px;
}


@media (max-width: 768px) {
  .sidebar {
    display: none;
  }

  .sidebar.sticky {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    z-index: 9999;
    padding-top: 20px;
  }

  .main-content {
    margin-left: 0;
    width: 100%;
    overflow-x: hidden;
  }
}

@media (min-width: 993px) {
  .main-content {
    margin-left: 250px !important;
    width: calc(100% - 250px);
    overflow-x: hidden;
  }
}
