<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    </head>
<body>

    <nav class="navbar navbar-expand-md navbar-dark d-md-none"  [ngClass]="selectedTheme === 'default' ? 'theme_bg' : 'dark_theme'">
        <a class="navbar-brand" routerLink="profile-dashboard">AVCHAMPS</a>
        <button class="navbar-toggler" type="button" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleSidebar()">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>

    <div class="collapse d-md-block sidebar" [ngClass]="selectedTheme === 'default' ? 'theme_bg' : 'dark_theme'" id="sidebarMenu" #sidebarMenu>
        <div class="container">
            <div class="row justify-content-center">
              <div class="col-md-8 d-flex flex-column align-items-center">
                <div class="profile-container position-relative">
                  <!-- <img [src]="getImageSource() || 'assets/data-toggle="collapse" data-target="#sidebarMenu" img/user-Icon.png'" -->
                   <img [src]="getImageSource() || 'assets/img/user-Icon.png'" alt="" class="img-fluid profile-image rounded-circle"
                    [ngStyle]="{'border': profileWeight <= 40 ? '2px solid red' : (profileWeight > 40 && profileWeight <= 80 ? '2px solid blue' : '2px solid green')}">
                  <button class="btn profile_Weight position-absolute"
                          style="top: 100%; left: 50%; transform: translate(-50%, -50%); padding: 2px 8px; font-size: 12px; border-radius: 12px;"
                          [ngClass]="{'btn-danger': profileWeight <= 40, 'btn-primary': profileWeight > 40 && profileWeight <= 80, 'btn-success': profileWeight > 80}">
                    {{ profileWeight }}%completed
                  </button>
                </div>
                <p class="user-name mt-2 text-white font-weight-500" style="font-size: 1.5rem;"> {{ userName | titleCase }} </p>
              </div>
            </div>
          </div>

        <!-- Logout Button -->
        <div class="logout-container text-right">
            <button class="btn btn-link text-white" (click)="logOut()">
                <i class="bi bi-box-arrow-right fs-5"></i></button>
        </div>

        <div class="social-links text-center cur_pointer" data-bs-toggle="modal" data-bs-target="#showSocialMedia">
          <a (click)="shareOnSocialMedia('twitter')" [ngClass]="getSocialClass('twitter')" class="twitter"><i class="bi bi-twitter-x"></i></a>
          <a (click)="shareOnSocialMedia('facebook')" [ngClass]="getSocialClass('facebook')" class="facebook"><i class="bi bi-facebook"></i></a>
          <a (click)="shareOnSocialMedia('instagram')" [ngClass]="getSocialClass('instagram')" class="instagram"><i class="bi bi-instagram"></i></a>
          <a (click)="shareOnSocialMedia('linkedin')" [ngClass]="getSocialClass('linkedin')" class="linkedin"><i class="bi bi-linkedin"></i></a>
          <a class="linkedin" data-bs-toggle="modal" [ngClass]="getSocialClass('settings')" data-bs-target="#myModal"><i class="bi bi-gear"></i></a>
      </div>

          <ul class="nav flex-column text-center nav-row">
            <li class="nav-item cur_pointer" routerLink="about" routerLinkActive="active-link" >
              <a class="nav-link" (click)="closeSidebar()">
                <i class="bi bi-person"></i> About
              </a>
            </li>
            <li class="nav-item cur_pointer" routerLink="feed" routerLinkActive="active-link">
              <a class="nav-link" (click)="closeSidebar()">
                <i class="bi bi-envelope"></i> Feed
              </a>
            </li>
            <li class="nav-item cur_pointer" routerLink="directory" routerLinkActive="active-link">
              <a class="nav-link" (click)="closeSidebar()">
                <i class="bi bi-person-check"></i> Directory
              </a>
            </li>
            <li class="nav-item cur_pointer" routerLink="tools" routerLinkActive="active-link">
              <a class="nav-link" (click)="closeSidebar()">
                <i class="bi bi-tools"></i> Tools
              </a>
            </li>
            <li class="nav-item cur_pointer">
              <a class="nav-link" href="/jobs-portal" routerLinkActive="active-link" target="_blank" (click)="closeSidebar()">
                <i class="bi bi-briefcase"></i> Careers
              </a>
            </li>
            <li class="nav-item cur_pointer">
              <a class="nav-link" href="/ekart-page" target="_blank" routerLinkActive="active-link" (click)="closeSidebar()">
                <i class="bi bi-cart"></i> Ekart
              </a>
            </li>
            <li class="nav-item cur_pointer">
              <a class="nav-link" href="/community" target="_blank" routerLinkActive="active-link" (click)="closeSidebar()">
                <i class="bi bi-people"></i> Community
              </a>
            </li>
          </ul>
          
        <div class="version-tag text-center text-white mt-auto">
            v2.0.0
        </div>
    </div>

    <main role="main" class="main-content col-md-9 ml-sm-auto col-lg-10 px-4">       
        <section>
            <router-outlet></router-outlet>
        </section>
    </main>

    <div class="modal fade" id="showSocialMedia" tabindex="-1" aria-labelledby="applyModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myDialogTitle">Social Media Links</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="socialMediaInput">Add {{ CickedsocialMedia }} URL*</label>
                        <input type="text" class="form-control" id="socialMediaInput" [(ngModel)]="inputValue">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-success" (click)="saveSocialMediaUrl()">Save</button>
                </div>
            </div>
        </div>
      </div>

    <!-- The Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Select Themes</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          
          <div class="modal-body">
            <div class="container">
              <div class="row">
                <!-- Default Theme -->
                <div class="col-12 col-md-6 text-center mb-3">
                  <img src="/assets/images/common_Images/default_theme_image.png" alt="Default Theme" 
                      class="img-fluid theme-thumbnail" 
                      [ngClass]="{'selected-theme': tempSelectedTheme === 'default'}"
                      (click)="selectTheme('default')">
                  <p>Default Theme</p>
                </div>
                <!-- Dark Theme -->
                <div class="col-12 col-md-6 text-center mb-3">
                  <img src="/assets/images/common_Images/dark_theme_image.png" alt="Dark Theme" 
                      class="img-fluid theme-thumbnail" 
                      [ngClass]="{'selected-theme': tempSelectedTheme === 'dark'}"
                      (click)="selectTheme('dark')">
                  <p>Dark Theme</p>
                </div>
              </div>
            </div>

            <div class="modal-footer" [ngStyle]="{'background-color': selectedThemeColor}">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" (click)="applyTheme()" data-bs-dismiss="modal">Apply</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>

