<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <section id="counts" class="counts" data-aos="fade-right">
        <div class="d-block d-md-none d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3">
            <h4 class="fs-16">Feed</h4>
        </div> 
        <div class="header-boxs mt-2" *ngIf="showMails">
            <div class="row">
                <div class="col-12 center-flex">
                    <div class="grid email">
                        <div class="grid-body">
                            <div class="row">
                                <!-- Search Box Centered on Mobile, Right Aligned on Larger Screens -->
                                <div class="col-12 d-flex d-md-none justify-content-center mb-3">
                                    <div class="filters">
                                        <div class="input-group rounded box border-box box-shadow">
                                            <span class="input-group-text bg-transparent border-0">
                                              <i class="bi bi-search"></i>
                                            </span>
                                            <input type="text" class="form-control border-0 fs-14 bg-transparent shadow-none" [(ngModel)]="searchTitle" placeholder="Search by title" />
                                            <span class="input-group-text bg-transparent border-0 cur_pointer" *ngIf="searchTitle"
                                              (click)="clearFilter()">
                                              <i class="bi bi-x-circle"></i>
                                            </span>
                                          </div>
                                    </div>
                                </div>
                                <div class="col-12 d-none d-md-flex justify-content-md-end mb-2">
                                    <div class="filters">
                                        <div class="input-group rounded box border-box box-shadow">
                                            <span class="input-group-text bg-transparent border-0">
                                              <i class="bi bi-search"></i>
                                            </span>
                                            <input type="text" class="form-control border-0 shadow-none bg-transparent" [(ngModel)]="searchTitle" placeholder="Search by title" />
                                            <span class="input-group-text bg-transparent border-0 cur_pointer" *ngIf="searchTitle"
                                              (click)="clearFilter()">
                                              <i class="bi bi-x-circle"></i>
                                            </span>
                                          </div>
                                    </div>
                                </div>
    
                                <!-- Email Listing -->
                                <div class="col-12">
                                    <!-- <div class="table-responsive">
                                        <table class="table">
                                            <tbody>
                                                
                                                <tr *ngFor="let email of filteredEmails" class="cur_pointer email-row" (click)="selectEmail(email)"
                                                    [class.unopened]="!email.opened">
                                                    <td class="subject">
                                                        <div class="d-flex align-items-center">
                                                            <input type="checkbox" class="checkbox me-2">
                                                            <i class="bi bi-star star me-2"></i>
                                                            <span class="title-text fs-14">{{ email.title }}</span>
                                                        </div>
                                                    </td>
                                                    
                                                    <td>
                                                        <img *ngIf="!email.opened" src="./assets/images/feed/feed_new.gif"
                                                            alt="New Email" class="new-email-icon">
                                                    </td>
                                                     {{ email.createdDate | date:'hh:mm a' }} --
                                                    <td class="time fs-14"></td>
                                                </tr>                                            </tbody>
                                        </table>
                                    </div> -->


                                    <div class="email-item fs-14" *ngFor="let email of filteredEmails" (click)="selectEmail(email)"
                                    [class.unopened]="!email.opened">
                                        <input type="checkbox" class="checkbox">
                                        <i class="bi bi-star star"></i>
                                        <span class="sender"> {{ email.title }}</span>
                                        <div class="attachments">
                                        </div>
                                        <span class="timestamp">{{ email.createdDate | date:'MMM dd' }}</span>
                                      </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="filteredEmails.length === 0 && searchTitle !== ''">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-12 col-md-6 d-flex justify-content-center">
                  <img src="assets/images/common_Images/oops.png" alt="" class="img-fluid" height="250px" />
                </div>
              </div>
            </div>
          </div>          

    <div *ngIf="selectedEmail">
        <div class="me-2">
            <div class="cur_pointer rounded-circle shadow-sm p-2 back-button" (click)="onBack()">
                <i class="fas fa-arrow-left"></i>
            </div>
        </div>
    <div class="container mt-2" style="margin-bottom: 10px;">
        <div class="row">
            <div class="col-12">
                <div class="card box-shadow">
                    <div *ngFor="let email of clickedemails">
                        <div class="card-header d-flex align-items-center justify-content-center"[title]="email.title" style="height: 60px; overflow: hidden;">
                            <h2 class="fs-16 m-0 text-center w-100 text-truncate">{{ email.title }}</h2>
                        </div>                        
                        
                        <div class="card-body">
                            <p class="fs-14">{{'Dear AV Champ' | translate}},</p>
                            <p class="fs-14" [innerHTML]="email.description"></p>
                            <div *ngIf="email.link" class="fs-14" style="display: flex; align-items: center;">
                                <p class="fs-14" style="margin: 0;">{{ 'Source' | translate }}:</p>
                                <p class="website_links" style="margin: 0; margin-left: 8px;">
                                    <a class="links" href="{{ email.link }}" target="_blank">Click here for more details</a>
                                </p>
                            </div>
                            <p class="fs-14 mt-2">{{'Best Regards' | translate}},<br>
                                <img src="./assets/images/av_logo.jpeg" class="custom_logo_img mt-1" alt="alternative">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12">
                <div class="card bg-dark text-white">
                    <div class="card-header text-center">
                        <h4 class="fs-16">{{'Our Sponsors' | translate}}</h4>
                    </div>
                    <div class="card-body text-center">
                        <p class="fs-14">{{'Sponsor us and have your logo featured here' | translate}}.&nbsp;<a class="contactUs_click cur_pointer" (click)="sendContact()">{{'Contact Us' | translate}}</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    </section>

<app-spinner *ngIf="showSpinner" class="spinner"></app-spinner>
</body>

</html>
