.title-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    width: 100%;
    max-width: 100%;
    color: black;
    /* font-weight: 500; */
    text-decoration: none;
}

.new-email-icon {
    width: 24px;
    height: 24px;
}

.time {
    color: #666;
    font-size: 0.85em;
    white-space: nowrap;
    display: inline-block;
    border-bottom: none;
}

.input-group {
    max-width: 400px;
    width: 100%;
}

.input-group-append :hover {
  background-color: #00B074;;
}
