input::placeholder {
    opacity: 0.8;
}

.fs {
    font-size: 12px;
}

.nav-tabs {
    border-bottom: none;
}

label {
    margin-bottom: 3px;
}

textarea {
    min-height: 30px;
    max-height: 55px;
}

input:disabled,
select:disabled,
textarea:disabled {
    background-color: #e9ecef63;
    cursor: no-drop;
}

.btn-success {
    background: #007bff !important;
    border-radius: 33px;
    border: none;
}

.save-mode {
    background-color: green!important;
}

.profile-container {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 900px;
    margin: auto;
  }
  .profile-header {
    text-align: center;
    margin-bottom: 30px;
  }

  .profile-header img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #28a745;
    color: #fff;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .profile-header h2 {
    margin-top: 15px;
    font-size: 1.8rem;
  }
  .profile-header h5 {
    margin-top: 5px;
    color: #666;
  }

  
  .stepper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
  }
  .stepper .step {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
  }
  .stepper .step.active {
    color: #28a745;
    font-weight: bold;
  }

  .stepper .step span {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #ddd;
    text-align: center;
    line-height: 25px;
    font-size: 0.9rem;
  }
  .stepper .step.active span {
    background-color: #28a745;
    color: #fff;
  }
  .form-section {
    display: none;
  }
  .form-section.active {
    display: block;
  }

  .form-control, .form-select {
    border-radius: 5px;
  }
.tabs {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #ddd;
}

.tab {
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    position: relative;
}

.tab-number {
    background-color: #f0f0f0;
    color: #333;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
}

.tab.active {
    color: #28a745;
    /* Green color for the active tab */
}

.tab.active .tab-number {
    background-color: #28a745;
    /* Green color for the active tab number */
    color: white;
}

.nav-link {
  padding: 5px;
}

@media (max-width: 576px) {
 .row.mob-mt-0 {
    margin-top: 0px !important;
  }
}