<section id="counts" class="counts" data-aos="fade-right">
    <div class="d-block d-md-none d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3">
        <h4>About</h4>
    </div>
    <div class="container p-2 mt-3">
        <form method="post">
            <div class="row align-items-center p-3 box-shadow bg-white rounded">
                <!-- Profile Image -->
                <div class="col-lg-2 col-md-3 col-sm-12 text-center mb-2 mb-md-0">
                    <img [src]="getImageSource() || 'assets/images/common_Images/user-Icon.png'" alt="Profile Image"
                        class="img-fluid rounded-circle border border-secondary shadow-sm" width="120" height="120">
                </div>

                <!-- Profile Details and Buttons -->
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <h3 class="fs-20 font-weight-bold">{{ userName | titleCase }}</h3>
                    <h6 class="fs-14">{{ jobTitle | titleCase }}</h6>
                    <p class="small fs-12 mb-2 text-muted">{{ "Last Login:" | translate }}
                        <span>{{ formatDate(updatedDate) }}</span>
                    </p>

                    <!-- Buttons Section (Business Card, Coins, and Edit) -->
                    <div class="d-flex align-items-center flex-wrap">
                        <!-- Business Card -->
                        <button class="btn btn-success px-3 mr-2 mb-2"
                            routerLink="/profile-dashboard/tools/bussiness-card">
                            <i class="fa fa-address-card  text-white"></i> {{ "Business Card" | translate }}
                        </button>
                        <!-- <a routerLink="/profile-dashboard/tools/business-card" 
                           class="btn btn-success px-3 mr-2 mb-2">{{ "Business Card" | translate }}</a> -->

                        <!-- Coins Button -->
                        <button class="btn btn-success px-3 mr-2 mb-2"
                            tooltip="Collect 10k coins and unlock an exciting gift!">
                            <i class="fa fa-coins text-white"></i> {{ userPoints || 0 }}
                        </button>

                        <!-- Edit Button -->
                        <button type="button" class="btn d-flex align-items-center mb-2" [ngClass]="{
                                    'theme_bg': editMode, 
                                    'btn-primary': !editMode
                                }" (click)="toggleEditMode()"
                            [disabled]="!isMobileNumberValidated || !isEmailValidated || !isWorkingEmailValidated">
                            <!-- Icon (Always Visible) -->
                            <i class="fa" [ngClass]="editMode ? 'fa-save' : 'fa-pencil-alt'"></i>

                            <!-- Text (Hidden in Mobile View) -->
                            <span class="d-none d-md-inline ml-2">
                                {{ editMode ? ('Save' | translate) : ('Edit' | translate) }}
                            </span>
                        </button>
                    </div>
                </div>
            </div>




            <div class="row mt-4 box-shadow mob-mt-0 p-2 mb-2">
                <div class="col-md-12">
                    <!-- Tabs Navigation -->
                    <div class="tabs">
                        <div class="tab mobile-fs-12" [class.active]="activeTab === 1" (click)="setActiveTab(1)">
                            <span class="tab-number">1</span> Personal Details
                        </div>
                        <div class="tab mobile-fs-12" [class.active]="activeTab === 2" (click)="setActiveTab(2)">
                            <span class="tab-number">2</span> Professional Info
                        </div>
                        <div class="tab mobile-fs-12" [class.active]="activeTab === 3" (click)="setActiveTab(3)">
                            <span class="tab-number">3</span> Address
                        </div>
                    </div>

                    <!-- Tabs Content -->
                    <div class="tab-content" id="myTabContent">
                        <!-- Personal Details Tab -->
                        <div class="tab-pane fade" [ngClass]="{'show': activeTab === 1, 'active': activeTab === 1}"
                            id="personal" role="tabpanel" aria-labelledby="personal-tab">
                            <h6 class="fade-out mt-2 fs-16">Personal Details</h6>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12 fs-6 mb-3">
                                    <label>{{"Email Id" | translate}}</label>
                                    <input type="email" [(ngModel)]="emailId" [disabled]="!editMode"
                                        (ngModelChange)="validateEmail()" placeholder="{{'Enter emailId' | translate}}"
                                        name="emailIdInput" class="form-control shadow-none">
                                    <p *ngIf="emailErrorMessage" class="text-danger fs">{{ emailErrorMessage }}</p>
                                </div>

                                <!-- Country Code Section -->
                                <div class="col-lg-2 col-md-3 col-sm-6 mb-3 fs-6">
                                    <label>{{"Code" | translate}}</label>
                                    <select [(ngModel)]="stdCode" [disabled]="!editMode" class="form-select shadow-none"
                                        (change)="onCountryChange()" name="countryCodeInput">
                                        <option value="">Select Code</option>
                                        <option *ngFor="let country of countriesDropDown.countries"
                                            [value]="country.phonecode">
                                            {{ country.flag }} +{{ country.phonecode }}
                                        </option>
                                    </select>
                                </div>

                                <!-- Mobile Number Section -->
                                <div class="col-lg-4 col-md-3 col-sm-6 mb-3 fs-6">
                                    <label>{{"Mobile Number" | translate}}</label>
                                    <input type="number" maxlength="10" [(ngModel)]="mobileNumber"
                                        (ngModelChange)="onMobileNumberChange()" [disabled]="!editMode"
                                        placeholder="{{'Enter Mobile Number' | translate}}" name="mobileNumberInput"
                                        class="form-control shadow-none" />
                                    <p *ngIf="mobileErrorMessage" class="text-danger fs">{{ mobileErrorMessage }}</p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-12 mb-3 fs-6">
                                    <label>{{"DOB" | translate}}</label>
                                    <input type="date" [ngModel]="formatDOB(dateOfBirth)"
                                        (ngModelChange)="dateOfBirth = $event" [disabled]="!editMode"
                                        name="dateOfBirthInput" class="form-control shadow-none">
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 mb-3 fs-6">
                                    <label>{{"Gender" | translate}}</label>
                                    <div class="input-group">
                                        <select [(ngModel)]="gender" name="genderInput" [disabled]="!editMode"
                                            class="form-control shadow-none">
                                            <option value="">Select Gender</option>
                                            <option value="male">Male</option>
                                            <option value="female">Female</option>
                                            <option value="other">Other</option>
                                        </select>
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="fas fa-caret-down"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Professional Info Tab -->
                        <div class="tab-pane fade" [ngClass]="{'show': activeTab === 2, 'active': activeTab === 2}"
                            id="professional" role="tabpanel" aria-labelledby="professional-tab">
                            <h6 class="fade-out mt-2 fs-16">Professional Information</h6>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12 mb-3 fs-6">
                                    <label>{{"Company Name" | translate}}</label>
                                    <input type="text" maxlength="25" [disabled]="!editMode" [(ngModel)]="companyName"
                                        name="companyNameInput" placeholder="{{'Enter Company Name' | translate}}"
                                        class="form-control shadow-none">
                                    <!-- <p *ngIf="companyNameInput.value?.length > 24" class="text-danger fs">{{"Max 24 Characters are allowed" | translate}}</p> -->
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 mb-3 fs-6">
                                    <label>{{"Designation" | translate}}</label>
                                    <input type="text" maxlength="25" [disabled]="!editMode" [(ngModel)]="jobTitle"
                                        name="jobTitleInput" placeholder="{{'Enter jobTitle' | translate}}"
                                        class="form-control shadow-none">
                                    <!-- <p *ngIf="jobTitleInput.value?.length > 24" class="text-danger fs">{{"Max 24 Characters are allowed" | translate}}</p> -->
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12 mb-3 fs-6">
                                    <label>{{"Company Email Id" | translate}}</label>
                                    <input type="email" [(ngModel)]="workingEmailId" [disabled]="!editMode"
                                        (ngModelChange)="validateWorkingEmail()"
                                        placeholder="{{'Enter Working emailId' | translate}}" name="workingEmailIdInput"
                                        class="form-control shadow-none">
                                    <p *ngIf="emailWorkingErrorMessage" class="text-danger fs">{{
                                        emailWorkingErrorMessage }}</p>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 mb-3 fs-6">
                                    <label>{{"Location" | translate}}</label>
                                    <input type="text" maxlength="30" [(ngModel)]="userCity"
                                        placeholder="{{'Enter UserCity' | translate}}" [disabled]="!editMode"
                                        name="userCityInput" class="form-control shadow-none">
                                </div>
                            </div>
                        </div>

                        <!-- Address Tab -->
                        <div class="tab-pane fade" [ngClass]="{'show': activeTab === 3, 'active': activeTab === 3}"
                            id="address" role="tabpanel" aria-labelledby="address-tab">
                            <h6 class="fade-out mt-2 fs-16">Address</h6>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12 mb-3 fs-6">
                                    <label>{{ "Address1" | translate }}</label>
                                    <textarea class="form-control shadow-none" [disabled]="!editMode"
                                        [(ngModel)]="address1" name="address1"></textarea>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-12 mb-3 fs-6">
                                    <label>{{ "Address2" | translate }}</label>
                                    <textarea class="form-control shadow-none" [disabled]="!editMode"
                                        [(ngModel)]="address2" name="address2"></textarea>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-12 mb-3 fs-6">
                                    <label>{{ "Country" | translate }}</label>
                                    <div class="input-group">
                                        <select [(ngModel)]="selectedCountry" (change)="onCountryChange()"
                                            name="countryInput" [disabled]="!editMode" class="form-control shadow-none">
                                            <option value="null" disabled selected>Select Country</option>
                                            <option *ngFor="let country of countriesDropDown.countries"
                                                [value]="country.isoCode">
                                                {{ country.name }}
                                            </option>
                                        </select>
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="fas fa-caret-down"></i></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-12 mb-3 fs-6">
                                    <label>{{ "State" | translate }}</label>
                                    <div class="input-group">
                                        <select [(ngModel)]="selectedState" (change)="onStateChange()" name="stateInput"
                                            [disabled]="!editMode || !selectedCountry" class="form-control shadow-none">
                                            <option value="null" disabled selected>Select State</option>
                                            <option *ngFor="let state of countriesDropDown.states"
                                                [value]="state.isoCode">
                                                {{ state.name }}
                                            </option>
                                        </select>
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="fas fa-caret-down"></i></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-12 mb-3 fs-6">
                                    <label>{{ "City" | translate }}</label>
                                    <div class="input-group">
                                        <select [(ngModel)]="selectedCity" name="cityInput"
                                            [disabled]="!editMode || !selectedState" class="form-control shadow-none">
                                            <option value="null" disabled selected>Select City</option>
                                            <option *ngFor="let city of countriesDropDown.cities" [value]="city.name">
                                                {{ city.name }}
                                            </option>
                                        </select>
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="fas fa-caret-down"></i></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-3 col-sm-12 mb-3 fs-6">
                                    <label>{{"ZipCode" | translate}}</label>
                                    <input type="text" maxlength="30" [(ngModel)]="zipCode"
                                        placeholder="{{'Enter ZipCode' | translate}}" [disabled]="!editMode"
                                        name="zipCodeInput" class="form-control shadow-none">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
</section>
<app-spinner *ngIf="showSpinner"></app-spinner>