input::placeholder {
    opacity: 0.8;
}

.fs {
    font-size: 12px;
}

.nav-tabs {
    border-bottom: none;
}

label {
    margin-bottom: 3px;
}

textarea {
    min-height: 30px;
    max-height: 55px;
}

input:disabled,
select:disabled,
textarea:disabled {
    background-color: #e9ecef63;
    cursor: no-drop;
}