.box {
    box-shadow: 4px 4px 10px #d1d9e6, -4px -4px 10px #f9f9f9;
  }
  
  h2 {
    text-align: center;
  }
  
  .mat-buttons {
    margin-top: -45px;
  }
  
  .admin-panel-header {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    font-size: 24px;
  }
  
  .logout-icon {
    color: red;
    cursor: pointer;
  }
  
  .btn-success {
    margin-left: 10px;
  }

  .red-asterisk {
    color: red;
  }
  
  .drop-area {
    border: 2px dashed#00B074;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
  }
  
  .file-input {
    display: none;
  }
  
  .drop-area.drag {
    background-color: #f0f0f0;
  }
  
  .file_name {
    margin-bottom: 15px;
    color: black;
  }
  