<!-- <div class="confetti-container">
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>

    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
</div> -->

<!-- <div class="gift-box">
    <div class="lid"></div>
    <div class="box"></div>
  </div> -->
  <!-- <div class="confetti-container"></div> -->
  
  <div class="coins-container">
    <div class="coin">+{{ coins }} Coins</div>
    <div class="coin">+{{ coins }} Coins</div>
    <div class="coin">+{{ coins }} Coins</div>
    <div class="coin">+{{ coins }} Coins</div>
  </div>

