<section id="counts" class="counts" data-aos="fade-right">
    <!-- Back Button Section -->
    <div class="me-2">
        <div class="cur_pointer rounded-circle shadow-sm p-2 back-button" (click)="onBack()">
            <i class="fas fa-arrow-left"></i>
        </div>
    </div>
    <div class="d-flex justify-content-center align-items-center">

        <!-- Search Box Section -->
        <div>
            <!-- <div class="input-group mt-2" style="max-width: 500px;">
                <input type="text" class="form-control mac_Search" name="search" [(ngModel)]="sysAddress"
                    placeholder="{{'Enter Mac address' | translate}}..." (keyup.enter)="getVendor(sysAddress)" style="height: 50px;">
                <span class="input-group-text">
                    <i class="fa fa-search"></i>
                </span>
            </div> -->

            <div class="input-group rounded box box-shadow mb-2">
                <span class="input-group-text bg-transparent border-0">
                  <i class="bi bi-search"></i>
                </span>
                <input type="text" class="form-control border-0 bg-transparent shadow-none" [(ngModel)]="sysAddress"
                (keyup.enter)="getVendor(sysAddress)" placeholder="{{'Enter Mac address' | translate}}..." />
                <span class="input-group-text bg-transparent border-0 cur_pointer" *ngIf="sysAddress"
                  (click)="clearFilter()">
                  <i class="bi bi-x-circle"></i>
                </span>
              </div>
        </div>
    </div>

    <!-- Displaying getVendorData -->
    <div class="row mt-4">
        <div class="col">
            <h4 class="text-center">{{ getVendorData }}</h4>
        </div>
    </div>

    <app-spinner *ngIf="showSpinner"></app-spinner>
</section>