body,
html {
    height: 100%;
}

.custom-card {
    width: auto;
    height: 200px;
    background: linear-gradient(to right, #e0f7fa, #e1bee7);
    border-radius: 10px;
    border: 1px solid #000;
}