.fixed-img {
  height: 200px;
  /* Adjust the height as per your need */
  width: 100%;
  /* Ensure it spans the width of the card */
  object-fit: cover;
  /* Ensures the image fits nicely within the fixed dimensions */
}

.contact-us {
  display: flex!important;
  justify-content: center;
  align-items: center;
  border: 1px solid green;
  padding: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.card-body .d-flex div {
  align-items: center;
  gap: 0.5rem; /* Add consistent spacing */
}
