<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>JobEntry - Job Portal Website Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Inter:wght@700;800&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
</head>

<body>
    <div class="container-xxl p-0">
        <!-- Navbar Start -->
        <nav class="navbar navbar-expand-lg navbar-light shadow sticky-top p-0">
            <a class="navbar-brand d-flex align-items-center text-center py-0 px-4 px-lg-5" (click)="reloadPage()">
                <h1 class="m-0 text-primary">AVKART</h1>
            </a>
            <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto p-4 p-lg-0">
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <img src='https://lh3.googleusercontent.com/a/ACg8ocIiKImCVKiOcZPxAJeZ7G9HRVkjCZkTLW6ko1GHLZqg1Lvhh493=s96-c'
                                alt="Profile Image" class="profile-image">{{userName}}
                        </a>
                        <div class="dropdown-menu rounded-0 m-0">
                            <a data-bs-toggle="modal" class="dropdown-item" data-bs-target="#sellerModal"
                                (click)="onCart('insertProduct')">Post Add</a>
                            <a class="dropdown-item" (click)="onSelect('myPosts')">My Posts</a>
                            <a class="dropdown-item" (click)="onSelect('contact')">Contact Us</a>
                            <a class="dropdown-item" (click)="logOut()">Logout</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <!-- Search Section Start -->
    <div class="container-fluid bg-success wow fadeIn" data-wow-delay="0.1s" style="padding: 35px;" *ngIf="showSearchBox">
        <div class="container">
            <div class="row g-2">
                <div class="col-md-10">
                    <div class="row g-2">
                        <div class="col-md-4 position-relative">
                            <input type="text" class="form-control border-0 pr-5" [(ngModel)]="searchKeyword"
                                placeholder="Search with Keyword .." />
                            <i class="fas fa-search position-absolute search-icon-right"></i>
                        </div>                      
                        
                        <div class="col-md-4">
                            <select class="form-select border-0" id="type" name="type" [(ngModel)]="productCategory">
                                <option value="" disabled selected>Select Category</option>
                                <option *ngFor="let roles of itemCategory" [value]="roles.value">{{ roles.label }}</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <select class="form-select border-0" [(ngModel)]="location">
                                <option value="" disabled selected>Select Location</option>
                                <option *ngFor="let location of locations"
                                    [value]="location.label">{{ location.label }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-dark border-0 w-100" (click)="onSearch()">Search</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Search Section End -->
    <a class="btn btn-lg btn-primary btn-lg-square back-to-top" (click)="scrollToTop()"><i class="bi bi-arrow-up"></i></a>
    <!-- Product Section Start -->
    <section class="product_section layout_padding mt-2" *ngIf="showProducts && products.length > 0">
        <div class="container">
            <div class="heading_container heading_center">
            </div>
            <div class="row">
                <div class="col-sm-6 col-lg-4" *ngFor="let product of products">
                    <div class="box">
                        <div class="img-box">
                            <img [src]="product.imagePath" class="img-fluid rounded-3" alt="Shopping item">
                            <a class="add_cart_btn theme_green" data-bs-toggle="modal" data-bs-target="#PostProduct"
                                (click)="selectedProduct(product)">
                                <span class="txt_white">Contact</span>
                            </a>
                        </div>
                        <div class="detail-box">
                            <h3 class="product_Name">{{ product.title }}</h3>
                            <p class="description" title="{{product.description}}"
                                [textContent]="product.description.length > 50 ? product.description.slice(0, 50) + '...' : product.description">
                            </p>
                            <h3 class="product_Name">₹{{ product.price }}</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn_box">
                <a class="view_more-link" (click)="loadMoreCartData()">View More</a>
            </div>
        </div>
    </section>
    <!-- Product Section End -->

    <!-- Cart Section Start -->
    <section class="product_section cart_padding" *ngIf="showCart">
        <div class="container h-100 py-2">
            <div class="row d-flex justify-content-center h-100">
                <div class="col-10">
                    <div *ngFor="let item of products"
                        class="card rounded-3 mb-2"
                        style="box-shadow: 4px 4px 10px #d1d9e6, -4px -4px 10px #f9f9f9;">
                        <div class="card-body p-4">
                            <div class="row d-flex text-center justify-content-between align-items-center">
                                <div class="col-md-2 col-lg-2 col-xl-2">
                                    <img [src]="item.imagePath" class="img-fluid rounded-3 cart_Image" alt="Cotton T-shirt">
                                </div>
                                <div class="col-md-3 col-lg-3 col-xl-3">
                                    <p class="lead fw-normal mb-2">{{ item.title }}</p>
                                    <p class="cart_description" title="{{item.description}}"
                                        [textContent]="item.description.length > 50 ? item.description.slice(0, 50) + '...' : item.description">
                                    </p>
                                </div>
                                <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                    <h3 class="mb-0">₹{{ item.price }}</h3>
                                    <p class="mb-0">{{ item.location }}</p>
                                </div>
                                <div class="col-md-2 col-lg-2 col-xl-2 text-end">
                                    <!-- <input class="checkbox" title="Sold Out" type="checkbox"
                                        (change)="toggleChanged($event, item)"> -->
                                    <span class="cur_pointer" (click)="editItem(item)" data-bs-toggle="modal"
                                        data-bs-target="#sellerModal"><i class="fa fa-edit theme_green"></i></span>
                                    <span class="text-danger cur_pointer" (click)="deleteItem(item)"><i
                                            class="fa fa-trash"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn_box" *ngIf="products.length !== 0">
                    <a class="view_more-link" (click)="loadMoreUploadData()">View More</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Cart Section End -->

    <!-- Seller Modal Start -->
    <div class="modal fade" id="sellerModal" tabindex="-1" role="dialog" aria-labelledby="sellerModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="sellerModalLabel">Product Information</h5>
                    <button type="button" (click)="onCancel()" class="btn btn-danger" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Title</label><label class="red-asterisk">*</label>
                        <input type="text" maxlength="75" class="form-control" [(ngModel)]="title" name="title">
                    </div>
                    <div class="form-group">
                        <label>Description</label><label class="red-asterisk">*</label>
                        <textarea maxlength="400" class="form-control" [(ngModel)]="description"
                            name="description"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Category</label><label class="red-asterisk">*</label>
                        <select class="form-control" id="type" name="type" [(ngModel)]="productCategory">
                            <option value="" disabled selected>Select Category</option>
                            <option *ngFor="let roles of itemCategory" [value]="roles.value">{{ roles.label }}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Location</label><label class="red-asterisk">*</label>
                        <select class="form-control" [(ngModel)]="location">
                            <option value="" disabled selected>Select Location</option>
                            <option *ngFor="let location of locations" class="form-control"
                                [value]="location.label">{{ location.label }}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Mobile</label><label class="red-asterisk">*</label>
                        <input type="number" class="form-control" (keyup)="isValidMobileNumber()" [(ngModel)]="mobileNumber" name="mobileNumber">
                    </div>
                    <div *ngIf="!isValid && mobileNumber">
                        <small class="text-danger">Invalid mobile number.</small>
                      </div>
                      
                    <div class="form-group">
                        <label>Price</label><label class="red-asterisk">*</label>
                        <input type="number" class="form-control" [(ngModel)]="price" name="price">
                    </div>
                    <div class="form-group">
                        <label>Image</label><label class="red-asterisk">*</label>
                        <div id="drop-area" class="drop-area" (click)="selectFile()">
                            <input type="file" accept="image/*" id="fileInput" class="file-input"
                                (change)="onFileSelected($event)">
                            <p>Click here or drag & drop files</p>
                        </div>
                        <p class="file_name">{{ selectedFileName }}</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-bs-dismiss="modal"
                        (click)="onCancel()">Cancel</button>
                    <button type="button" class="btn btn-success"
                        [disabled]="!this.emailId || !this.title || !this.description || !this.location || !this.price || !this.showFile"
                        (click)="onUpload()">{{sellerButton}}</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Seller Modal End -->

    <!-- Contact Seller Modal Start -->
    <div class="modal fade" id="PostProduct" tabindex="-1" aria-labelledby="applyModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="applyModalLabel">Contact Seller</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">&times;</button>
                </div>
                <div class="modal-body">
                    <div *ngFor="let item of selectedItem">
                        <p class="seller_Name"><i class="fa fa-user fa-green"></i> {{ item.userName }}</p>
                        <p class="seller_Number"><i class="fa fa-phone fa-green"></i> {{ item.mobileNumber }}</p>
                        <p class="seller_location"><i class="fa fa-map-marker fa-green custom-location-icon"></i> {{ item.location }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact Seller Modal End -->

    <!-- No Records Found Start -->
    <div class="row justify-content-center align-items-center" *ngIf="products.length === 0" style="height: 70vh;">
        <div class="col-sm-6 col-lg-3 text-center">
            <img src="assets/images/ekart/empty_produts.png" class="img-fluid" style="margin-bottom: -25px;" alt="No products">
            <p>No Records Found</p>
        </div>
    </div>
    <!-- No Records Found End -->

    <!-- Contact Form Section -->
    <div *ngIf="showContactForm">
        <app-contact></app-contact>
    </div>

</body>

</html>
