<section id="counts" class="counts" data-aos="fade-right">
  <div class="me-2">
    <div class="cur_pointer rounded-circle shadow-sm p-2 back-button" (click)="onBack()">
      <i class="fas fa-arrow-left"></i>
    </div>
  </div>
  <div class="container btu-calculator-container">
    <h4 class="tool-header text-center">{{'AV Rack Simulator' | translate}}</h4>

    <!-- Table for AV Rack Simulator -->
    <div class="row justify-content-center">
      <div class="col-md-8">
        <table class="table table-bordered">
          <!-- Apply custom class to the thead -->
          <thead class="custom-table-header text-center">
            <tr>
              <th scope="col">Sl.No</th>
              <th scope="col">{{'Equipment/Model' | translate}}</th>
              <th scope="col">{{'RU Size' | translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of btuRows; let i = index">
              <td class="text-center">{{ i + 1 }}</td>
              <td>
                <input type="text" class="form-control" placeholder="{{'Enter Equipment Details' | translate}}"
                  [(ngModel)]="row.equipment" maxlength="50" (ngModelChange)="updateRackConfiguration()">
              </td>
              <td>
                <input type="number" oninput="validateNumberInput(this)" class="form-control" [(ngModel)]="row.watt" [disabled]="!row.equipment"
                  maxlength="4" (ngModelChange)="updateRackConfiguration()" (focus)="clearDefaultZero()" (keypress)="preventNegative($event)"
                  onkeypress="if(this.value.length==4) return false;">
              </td>
            </tr>
          </tbody>
        </table>

        <!-- Add/Remove Icons -->
        <div class="text-right mb-3">
          <i class="bi bi-plus-circle cur_pointer" (click)="addRow()"></i>
          <i class="bi bi-dash-circle ml-2 cur_pointer " (click)="removeLastRow()"></i>
        </div>
      </div>
    </div>

    <!-- Buttons -->
    <div class="row justify-content-center mb-4">
      <div class="col-md-4 text-center">
        <button class="btn btn-warning mr-2" (click)="onClear()">{{'Cancel' | translate}}</button>
        <button class="btn btn-success" (click)="viewRack()">{{'Generate' | translate}}</button>
      </div>
    </div>

    <!-- Description -->
    <div class="mt-5">
        <p>{{'Enter the devices you intend to include in your AV setup. Our audiovisual rack diagram
          tool will automatically generate a rack layout. Once the AV rack layout is generated, you can visualize it in
          2D to gain a clear understanding of the final assembly of your audiovisual rack.' | translate}}</p>
      </div>

    <!-- Rack Elevation -->
    <div class="row justify-content-center mb-2" id="rackDiagram" *ngIf="viewRackImg">
      <div class="col-md-8">
        <h4 class="tool-header text-center mb-3">{{'Rack Elevation' | translate}}</h4>
        <div class="d-flex justify-content-center">
          <div class="border border-dark d-flex" [ngStyle]="{'height': totalRackHeight + 'px', 'width': '100%'}">
            <!-- Left Rack Numbers -->
            <div class="d-flex flex-column justify-content-end align-items-center border-right">
              <div *ngFor="let n of rackNumbers.slice().reverse()" class="rack-number">
                {{ n }}
              </div>
            </div>

            <!-- Rack Items -->
            <div class="flex-grow-1 position-relative">
              <div *ngFor="let row of btuRows; let i = index" class="position-absolute bg-light rack-item"
                [ngClass]="{'last-item': i === btuRows.length - 1}" [ngStyle]="{
         'height': ((row.watt >= 1 ? row.watt : 1) * 35) + 'px',
         'bottom': (getRackItemBottom(i) * 35) + 'px'
       }">
                <span>{{ row.equipment }}</span>
              </div>
            </div>

            <!-- Right Rack Numbers -->
            <div class="d-flex flex-column justify-content-end align-items-center border-left">
              <div *ngFor="let n of rackNumbers.slice().reverse()" class="rack-number">
                {{ n }}
              </div>
            </div>
          </div>
        </div>
      </div>
  
    <div class="row justify-content-center mb-2 mt-4 disabled_Button">
      <div class="col-md-4 text-center">
        <button class="btn btn-success" (click)="downloadRack('rackDiagram')">{{'Download' | translate}}</button>
      </div>
    </div>
  </div>
  </div>
</section>
