<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
</head>

<body>
  <section id="counts" class="counts" data-aos="fade-right">
    <div *ngIf="searchBox ||!showClickedData"
      class="d-block d-md-none d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3">
      <h4 class="fs-14">{{'Directory' | translate }}</h4>
    </div>
    <div class="container mt-2" *ngIf="searchBox">
      <div class="row justify-content-center mt-2">
        <div class="col-md-5">
          <div class="card mb-2" style="background: none;">
            <div class="input-group rounded box border-box box-shadow mb-1">
              <span class="input-group-text bg-transparent border-0 d-flex">
                <i class="bi bi-search"></i>
              </span>
              <input type="text"
                class="form-control border-0 shadow-none bg-transparent ng-untouched ng-pristine ng-valid"
                [(ngModel)]="filterTerm" (input)="applyFilter()" (keyup.enter)="getData(0, pageSize)"
                placeholder="Search Contact ..." />
              <span class="input-group-text bg-transparent border-0 cur_pointer" *ngIf="filterTerm"
                (click)="clearFilter()">
                <i class="bi bi-x-circle"></i>
              </span>
            </div>

            <div *ngFor="let item of pagedUserData" class="card border box-shadow cur_pointer card-move mt-1 p-2"
              (click)="showDetails(item)">
              <div class="d-flex align-items-center">
                <div class="col-auto">
                  <img class="rounded-circle" [src]="item.imagePath || 'assets/images/common_Images/user-Icon.png'"
                    alt="User Image" width="40" height="40" />
                </div>
                <div class="col">
                  <div class="d-flex flex-column">
                    <span class="user-name fs-16 text-dark">{{ item.fullName | titleCase }}</span>
                    <span class="user-company fs-14 text-muted">{{ item.companyName | titleCase }}</span>
                  </div>
                </div>
              </div>
            </div>

            <div *ngIf="pagedUserData.length === 0 && filterTerm !== ''">
              <div class="text-center">
                <img src="assets/images/common_Images/oops.png" alt="" class="img-fluid no-records" height="250px" />
              </div>
            </div>

            <div *ngIf="showFilters">
              <div class="mt-3">
                <nav *ngIf="totalRecords > pageSize">
                  <ul class="pagination justify-content-center">
                    <!-- Back Button -->
                    <li class="page-item" [ngClass]="{ disabled: currentPage === 1 }">
                      <button class="page-link" (click)="changePage(currentPage - 1)"
                        [disabled]="currentPage === 1">Back</button>
                    </li>

                    <!-- Numbered Pagination -->
                    <li *ngFor="let page of goToPage(); let i = index" class="page-item"
                      [ngClass]="{ active: page === currentPage }">
                      <button class="page-link" (click)="changePage(page)">{{ page }}</button>
                    </li>

                    <!-- '...' and Last Page -->
                    <li *ngIf="totalPages > maxVisiblePages && currentPage + maxVisiblePages < totalPages"
                      class="page-item">
                      <button class="page-link" disabled>...</button>
                    </li>
                    <li *ngIf="totalPages > maxVisiblePages" class="page-item"
                      [ngClass]="{ active: currentPage === totalPages }">
                      <button class="page-link" (click)="changePage(totalPages)">{{ totalPages }}</button>
                    </li>

                    <!-- Next Button -->
                    <li class="page-item" [ngClass]="{ disabled: currentPage === totalPages }">
                      <button class="page-link" (click)="changePage(currentPage + 1)"
                        [disabled]="currentPage === totalPages">
                        Next
                      </button>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>

    <div class="wrapper text-center card-move" *ngIf="showClickedData">
      <div class="img-area mx-auto">
        <div class="inner-area">
          <!-- <img [src]="imagePath || 'assets/images/common_Images/user-Icon.png'" alt=""> -->
          <img [src]="imagePath ? imagePath : 'assets/images/common_Images/user-Icon.png'" alt="Profile Picture">
        </div>
      </div>
      <div class="icon arrow" *ngIf="showClickedData" (click)="onBack()"><i class="fas fa-arrow-left"></i></div>
      <div *ngFor="let item of clickedUserData">
        <div class="name fs-14">{{ item.fullName | titleCase }}</div>
        <div class="about fs-14">{{ item.companyName | titleCase }}</div>
      </div>
      <div class="social-icons d-flex justify-content-center mt-3">
        <a *ngIf="facebookUrl" [href]="facebookUrl" target="_blank" class="fb mx-2"><i
            class="fab fa-facebook-f"></i></a>
        <a *ngIf="!facebookUrl" [ngClass]="{'disabled': !facebookUrl}"
          tooltip="{{'The user has not updated' | translate}}" class="fb mx-2 fs-14"><i
            class="fab fa-facebook-f"></i></a>

        <a *ngIf="twitterUrl" [href]="twitterUrl" target="_blank" class="twitter mx-2"><i
            class="fab fa-x-twitter"></i></a>
        <a *ngIf="!twitterUrl" [ngClass]="{'disabled': !twitterUrl}"
          tooltip="{{'The user has not updated' | translate}}" class="twitter mx-2 fs-14"><i
            class="fab fa-x-twitter"></i></a>

        <a *ngIf="instagramUrl" [href]="instagramUrl" target="_blank" class="insta mx-2"><i
            class="fab fa-instagram"></i></a>
        <a *ngIf="!instagramUrl" [ngClass]="{'disabled': !instagramUrl}"
          tooltip="{{'The user has not updated' | translate}}" class="insta mx-2 fs-14"><i
            class="fab fa-instagram"></i></a>

        <a *ngIf="linkedInUrl" [href]="linkedInUrl" target="_blank" class="lIn mx-2"><i class="fab fa-linkedin"></i></a>
        <a *ngIf="!linkedInUrl" [ngClass]="{'disabled': !linkedInUrl}"
          tooltip="{{'The user has not updated' | translate}}" class="lIn mx-2 fs-14"><i
            class="fab fa-linkedin"></i></a>
      </div>
    </div>

    <!-- <a class="btn btn-lg btn-primary btn-lg-square back-to-top" *ngIf="searchBox ||!showClickedData"
      (click)="scrollToTop()"><i class="bi bi-arrow-up"></i></a> -->

    <app-spinner *ngIf="showSpinner" class="spinner"></app-spinner>
  </section>
</body>

</html>