<section id="counts" class="counts" data-aos="fade-right">
  <div class="me-2 mb-2">
    <div class="cur_pointer rounded-circle shadow-sm p-2 back-button" (click)="onBack()">
        <i class="fas fa-arrow-left"></i>
    </div>
</div>

    <div class="container">
      <h4>{{'Budget Calculator' | translate}}</h4>
      <div class="calculator-container mt-4">
          <div class="row">
            <!-- Input Section -->
            <div class="col-lg-8">
                <div>
                    <p class="section-title">Input Details</p>
                    <div class="mb-3">
                        <label for="roomType" class="form-label">Select Room Type</label>
                        <select class="form-select" id="roomType" [(ngModel)]="selectedRoomType">
                            <option *ngFor="let room of roomTypes" [value]="room.type">{{ room.type }}</option>
                        </select>
                    </div>
                    <div class="row g-3">
                        <div class="col-md-6">
                            <!-- <label for="roomQuantity" class="form-label">Quantity of Rooms</label> -->
                            <!-- <input type="range" class="form-range" id="roomQuantity" min="0" max="100" [(ngModel)]="roomQuantity" [disabled]="selectedRoomType === 'Select Room'"> -->
                            <label for="costPerRoom" class="form-label">Cost per Room</label>
                            <input type="number" id="costPerRoom" class="form-control" max="999999999" [(ngModel)]="costPerRoom" [disabled]="selectedRoomType === 'Select Room'" (keypress)="preventNegative($event)" (focus)="clearDefaultZero()" (input)="restrictDigits($event)">    
                          </div>
                        <div class="col-md-6">
                            <label for="roomQuantityNumber" class="form-label">Number of Rooms</label>
                            <input type="number" class="form-control" id="roomQuantityNumber" min="0" max="100" [(ngModel)]="roomQuantity" [disabled]="selectedRoomType === 'Select Room'" (keypress)="preventNegative($event)" (input)="validateMaxValue($event)">
                        </div>
                    </div>
                    <!-- <div class="mt-3">
                        <label for="costPerRoom" class="form-label">Cost per Room</label>
                        <input type="number" id="costPerRoom" class="form-control" max="999999999" [(ngModel)]="costPerRoom" [disabled]="selectedRoomType === 'Select Room'" (keypress)="preventNegative($event)" (focus)="clearDefaultZero()" (input)="restrictDigits($event)">
                    </div> -->
                </div>
            </div>
            <!-- Summary Section -->
            <div class="col-lg-4 mt-4">
                <div class="card summary-card p-3">
                    <h5 class="summary-title">Results</h5>
                    <div class="mb-2">
                        <span>Room Quantity:</span>
                        <span class="summary-value">{{ roomQuantity }}</span>
                    </div>
                    <div class="mb-2">
                        <span>Cost per Room:</span>
                        <span class="summary-value">{{ costPerRoom ? costPerRoom : 0 | currency:'INR':'symbol' }}</span>
                    </div>
                    <div>
                        <span>Total Cost:</span>
                        <span class="summary-value">{{ totalCost ? totalCost : 0 | currency:'INR':'symbol' }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
      <!-- Add Button -->
      <div class="d-flex justify-content-center mt-3">
        <button class="btn btn-primary" [disabled]="!costPerRoom || !selectedRoomType" (click)="saveRoomDetails()">{{'Add' | translate}}</button>
      </div>
  
      <!-- Budget Table Section -->
      <div class="btu-calculator-container mt-5" *ngIf="showBudgetTable" id="tabelData">
        <div class="container">
          <div id="pdfContent">
            <div class="table-responsive">
              <table class="table table-bordered" #tableContainer>
                <thead class="custom-table-header text-center">
                  <tr>
                    <th scope="col">{{'Sl.No' | translate}}</th>
                    <th scope="col">{{'Room Type' | translate}}</th>
                    <th scope="col">{{'Quantity' | translate}}</th>
                    <th scope="col">{{'Price' | translate}}</th>
                    <th scope="col">{{'Total' | translate}}</th>
                    <th scope="col" *ngIf="isDisplay">{{'Action' | translate}}</th> <!-- Action column -->
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of savedRooms; let i = index" [ngClass]="getRowClass(i)">
                    <td class="text-center">{{ i + 1 }}</td>
                    <td>{{ row.roomType }}</td>
                    <td class="text-center">{{ row.quantity }}</td>
                    <td class="text-center">{{ row.price }}</td>
                    <td class="text-center">{{ row.total | currency:'INR':'symbol' }}</td>
                    <td class="text-center" *ngIf="isDisplay">
                      <i class="bi bi-trash cur_pointer"  (click)="deleteRow(i)"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
      
            <!-- Add/Remove Icons -->
            <div class="text-right disabled_Button">
              <i class="bi bi-dash-circle ml-2 cur_pointer" (click)="toggleActionItems()"></i>
            </div>
      
            <div class="results text-center" id="pdfContentContainer">
              <p><strong>{{'Grand Total'  |translate}}:</strong> &#8377;{{ totalBudget }}</p>
            </div>
            
            <P><i class="fa fa-info-circle text-danger"></i>{{'Tax are not included in the values shown above.' | translate}}</P>
          </div>
        </div>
      
        <!-- Buttons -->
        <div class="row justify-content-center mb-2 mt-3 disabled_Button">
          <div class="col-md-4 text-center">
            <button class="btn btn-warning mr-2" (click)="refreshValues()">{{'Cancel' | translate}}</button>
            <button class="btn btn-success" (click)="downloadRack()">{{'Save' | translate}}</button>
          </div>
        </div>
      </div>
      
    </div>
  </section>
  