html,
body {
	font-family: 'Poppins', sans-serif !important;
}

:root {
	--primary: #1c262f;
	--primary-light: #212d37;
	--secondary: #0ee951;
	--tertiary: #00dabf;
	--gradient: linear-gradient(to right, #0ee951, #00dabf);
}

.theme_green {
	color: #00B074;
}

.theme_bg {
	background-color: #00B074 !important;
}

.dark_theme {
	background-color: black;
}

.cur_pointer {
	cursor: pointer;
}

.custom_logo_img {
	width: 130px;
	height: 40px;
}

.back-button {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 5px;
	width: 40px;
	height: 40px;
	color: #31344b;
	border-radius: 50%;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	transition: background-color 0.3s ease, transform 0.3s ease;
	cursor: pointer;
}

.back-button:hover {
	transform: scale(1.1);
}

.custom-table-header th {
	background-color: #00b3b3 !important;
	color: white !important;
}

.box_shadow {
	box-shadow: 4px 4px 10px #d1d9e6, -4px -4px 10px #f9f9f9 !important;
}

.toast-right-center {
	top: 50%;
	right: 0;
	transform: translateY(-50%);
}

.toast-custom-position {
	top: 50%;
	right: 0;
	transform: translateY(-50%);
}

.toast-success {
	background-color: #90EE90 !important;
	color: #000 !important;
}

.fade-out {
	color: #00000087;
}

.fs-12 {
	font-size: 12px;
}

.fs-14 {
	font-size: 14px!important;
}

.fs-16 {
	font-size: 16px;
}

.fs-12 {
	font-size: 12px!important;
}

::placeholder {
	font-size: 14px;
}

.text-green {
	color: green;
}

.text-truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
  }

/* .btn-close {
	font-size: 12px;
} */

@media (min-width: 576px) {
.borders-right {
	border-right: 1px solid black;
}

}
