<body>
  <!-- Header -->
  <header class="header d-flex justify-content-between shadow-lg align-items-center">
    <div class="d-flex align-items-center">
      <span class="logo me-4 cur_pointer" (click)="onReload()">AV CHAMPS</span>
      <nav class="d-flex d-none d-md-flex" (click)="navigateHome()">
        <a class="nav-link"><i class="fas fa-home me-1"></i> Home</a>
      </nav>
    </div>
    <div class="d-md-none">
      <button class="btn btn-outline-light text-dark shadow-sm" (click)="toggleMenu()">
        <i class="fas fa-bars"></i>
      </button>
    </div>
    <div class="text-center d-none d-md-block">
      <h1 class="flashing-text">Welcome to AV Champs</h1>
    </div>
    <div class="profile-info d-none d-md-flex">
      <button class="btn post-job-btn mr-2" #jobPopup data-bs-toggle="modal" data-bs-target="#jobFormModal">+ Post
        Job</button>
      <span class="text-success fs-4 cur_pointer" (click)="onEdit()"><i class='far fa-edit'></i></span>
      <span class="text-danger fs-4 location_left cur_pointer" (click)="logOut()"><i
          class="fas fa-sign-out-alt"></i></span>
    </div>
  </header>

  <!-- Sidebar and Main Container -->
  <div class="container-fluid py-4">
    <div class="row g-4">
      <!-- Sidebar -->
      <div class="col-lg-3" [class.d-none]="!isMenuVisible && isMobileView"
        [class.d-block]="isMenuVisible || !isMobileView">
        <!-- Mobile Menu Options -->
        <div *ngIf="isMobileView" class="mobile-menu shadow-lg p-3 mb-3">
          <a class="d-block mb-2 text-decoration-none text-dark" (click)="navigateHome()"><i
              class="fas fa-home me-2 fs-14"></i> Home</a>
          <button class="btn btn-outline-primary w-100 mb-2 fs-14" #jobPopup data-bs-toggle="modal"
            data-bs-target="#jobFormModal">+ Post Job</button>
          <!-- <span class="text-success fs-4"><i class='far fa-edit'></i>Edit</span> -->
          <a class="d-block mb-2 text-decoration-none text-dark" (click)="onEdit()"><i
              class="far fa-edit fs-14 me-2"></i>
            Edit</a>
          <a class="d-block mb-2 text-decoration-none text-danger cur_pointer" (click)="logOut()"><i
              class="fas fa-sign-out-alt me-2"></i>
            Logout</a>
        </div>

        <!-- Profile Box -->
        <div class="profile-box text-center shadow-lg">
          <img [src]="profileImg" alt="Profile" class="profile-img">
          <h5 class="mb-1 fs-16">{{ profileData.fullName }}</h5>
          <p class="text-muted fs-14">{{ profileData.designation }}</p>
          <button class="btn btn-outline-primary w-75 mb-4 fs-14 b-4 edit-profile-btn" (click)="editProfile()">Edit
            Profile</button>
        </div>

        <div class="filter-box shadow-lg">
          <h6 class="fs-14">Job Type</h6>
          <div class="mb-3">
            <div class="form-check" *ngFor="let jobType of jobTypes; let i = index">
              <input class="form-check-input" type="checkbox" [checked]="isChecked(jobType)"
                (change)="updateSelectedJobTypes($event, jobType)" [id]="'jobType-' + i">
              <label class="form-check-label fs-14" [for]="'jobType-' + i">
                {{ jobType.label }}
              </label>
            </div>

          </div>
          <div>
            <h6 class="fs-14">Job Location</h6>
            <div class="dropdown">
              <button
                class="btn btn-outline-light text-dark dropdown-toggle shadow-sm w-100 text-start d-flex justify-content-between align-items-center"
                type="button" id="jobLocationDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="fs-14">{{ selectedLocation ? (selectedLocation | titlecase) : 'Select Location' }}</span>
              </button>
              <ul class="dropdown-menu w-100" aria-labelledby="jobLocationDropdown">
                <li *ngFor="let location of uniqueLocations" class="cur_pointer"
                  (click)="getPostedJobs('', location); onfilter(); toggleMenu()">
                  <a class="dropdown-item fs-14">{{ location | titlecase }}</a>
                </li>
              </ul>
            </div>

          </div>
        </div>
      </div>

      <!-- Job Section -->
      <div class="col-lg-9 scrollable-section">
        <div class="bg-white rounded p-4 mb-4 shadow-lg">
          <div class="d-flex justify-content-between align-items-center">
            <div class="input-group">
              <span class="input-group-text bg-light border-0"><i class="fas fa-search text-muted"></i></span>
              <input type="text" class="form-control shadow-none border-0 bg-light shadow-none"
                [(ngModel)]="searchQuery" (input)="getPostedJobs()" placeholder="Enter Keyword ...">
            </div>
            <div class="dropdown ms-3">
              <button class="btn btn-outline-light text-dark dropdown-toggle shadow-sm fs-14" type="button"
                id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                Newest
              </button>
              <ul class="dropdown-menu fs-14" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item fs-14 cur_pointer" (click)="getPostedJobs('newest')">Newest</a></li>
                <li><a class="dropdown-item fs-14 cur_pointer" (click)="getPostedJobs('oldest')">Oldest</a></li>
                <li><a class="dropdown-item fs-14 cur_pointer" (click)="getPostedJobs('most releavant')">Most
                    Relevant</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="bg-light text-center rounded mt-2 p-2">
            <span class="text-muted fs-14">{{totalRecords}} jobs found</span>
          </div>
        </div>

        <div class="scrollable-container">
          <div class="row">
            <div class="col-md-6" *ngFor="let job of postedJobs">
              <div class="card card-custom">
                <div class="card-body d-flex flex-column">
                  <!-- Job Title and Location -->
                  <div class="d-flex justify-content-between">
                    <h6 class="card-title mb-1 fs-14">{{ job.jobRole || 'Role not specified' }}</h6>
                    <span class="fs-14">
                      {{ job.location || 'Location not specified' }}
                      <i class="fas fa-map-marker-alt text-danger location_left"></i>
                    </span>
                  </div>

                  <!-- Company Name -->
                  <p class="text-muted small mb-2 fs-14">{{ job.companyName || 'Company not specified' }}</p>

                  <!-- Description -->
                  <p *ngIf="job.description" class="fs-14" [title]="job.description" container="body" placement="top"
                    tooltipClass="custom-tooltip">
                    {{ job.description }}
                  </p>
                  <p *ngIf="!job.description" class="text-muted small fs-14">Description not available</p>

                  <!-- Row with Equal Spacing for Mobile View -->
                  <div class="mt-auto card-btn w-100">
                    <div class="d-flex flex-wrap justify-content-between align-items-center">
                      <!-- Internship Type -->
                      <span *ngIf="job.jobType" [ngClass]="{
                          'bg-red': job.jobType === 'Contract',
                          'bg-green': job.jobType === 'Full-Time',
                          'bg-blue': job.jobType === 'Part-Time',
                          'bg-teal': job.jobType === 'Internship'
                        }" class="badge badge-custom fs-12 flex-fill text-center me-2">
                        {{ job.jobType }}
                      </span>

                      <!-- Salary -->
                      <span *ngIf="job.package" class="fs-12 text-muted flex-fill text-center me-2">
                        &#8377; {{ job.package }}
                      </span>

                      <!-- Experience -->
                      <span *ngIf="job.experience" class="fs-12 text-muted flex-fill text-center me-2">
                        <i class="fas fa-suitcase me-1"></i>{{ job.experience }}yrs
                      </span>

                      <!-- Apply Button -->
                      <button class="btn btn-warning btn-sm text-white fs-12 flex-fill text-center"
                        *ngIf="buttonType === 'Apply'" (click)="editJob(job)">
                        {{ buttonType }}
                      </button>
                      <button class="btn btn-sm cur_pointer flex-fill text-center" *ngIf="buttonType !== 'Apply'"
                        (click)="editJob(job)">
                        <i class="far fa-edit"></i>
                      </button>
                      <button *ngIf="displayDeleteBtn" class="btn btn-sm cur_pointer flex-fill text-center"
                        #deletejobConfirmation data-bs-toggle="modal" (click)="setSelectedJob(job)"
                        data-bs-target="#deletejobConfirmation">
                        <i class="fas fa-trash-alt"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>

  </div>

  <div class="modal fade" id="jobFormModal" tabindex="-1" aria-labelledby="jobFormModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header border-bottom-0">
          <h5 class="modal-title fs-16" id="jobFormModal">{{ msgType }}</h5>
          <button type="button" data-bs-dismiss="modal" class="btn-close shadow-none" aria-label="Close"
            (click)="formReset()">
          </button>
        </div>
        <form [formGroup]="jobForm" (ngSubmit)="onJobApply()" style="margin-top: -43px;">
          <div class="modal-body mt-4">

            <div class="mb-3">
              <label for="companyName" class="form-label">Company Name</label>
              <input type="text" id="companyName" class="form-control shadow-none" formControlName="companyName"
                required>
              <div *ngIf="jobForm.get('companyName')?.touched && jobForm.get('companyName')?.invalid"
                class="text-danger error-msg">
                Company name is required.
              </div>
            </div>

            <div class="mb-3">
              <label for="jobRole" class="form-label">Job Title</label>
              <select id="jobRole" class="form-select shadow-none fs-14" formControlName="jobRole" required>
                <option value="" class="default-option fs-14">Select Job Title</option>
                <option *ngFor="let role of jobRoles" [value]="role.label">{{ role.label }}</option>
              </select>
              <div *ngIf="jobForm.get('jobRole')?.touched && jobForm.get('jobRole')?.invalid"
                class="text-danger error-msg">
                Job role is required.
              </div>
            </div>

            <div class="mb-3">
              <label for="Discription" class="form-label">Job Summary</label>
              <textarea type="text" id="location" maxlength="250" class="form-control shadow-none"
                formControlName="description"></textarea>
            </div>

            <div class="row mb-3">
              <div class="col">
                <label for="location" class="form-label">Location</label>
                <input type="text" id="location" class="form-control shadow-none" formControlName="location">
                <div *ngIf="jobForm.get('location')?.touched && jobForm.get('location')?.invalid"
                  class="text-danger error-msg">
                  Location is required.
                </div>
              </div>

              <div class="col">
                <label for="jobType" class="form-label fs-14">Job Type</label>
                <select id="jobType" class="form-select shadow-none fs-14" formControlName="jobType">
                  <option value="" class="default-option fs-14">Select Job Type</option>
                  <option *ngFor="let type of jobTypes" class="fs-14" [value]="type.label">{{ type.label }}</option>
                </select>
                <div *ngIf="jobForm.get('jobType')?.touched && jobForm.get('jobType')?.invalid"
                  class="text-danger error-msg">
                  Job Type is required.
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col">
                <label for="experience" class="form-label">Experience</label>
                <input type="number" id="experience"
                  oninput="validateNumberInput(this);this.value = this.value.slice(0, 2);" max="99" min="0"
                  class="form-control shadow-none" formControlName="experience" />
              </div>
              <div class="col">
                <label for="package" class="form-label">Package (Annum)</label>
                <select id="package" class="form-control form-select shadow-none fs-14" formControlName="package">
                  <option value="" selected>Select Package</option>
                  <option value="1Lac - 3Lac">1Lac - 3Lac</option>
                  <option value="4Lac - 6Lac">4Lac - 6Lac</option>
                  <option value="7Lac - 9Lac">7Lac - 9Lac</option>
                  <option value="10Lac -12Lac">10Lac - 12Lac</option>
                  <option value="13Lac - 15Lac">13Lac - 15Lac</option>
                  <option value="15+Lac">15+Lac</option>
                </select>
              </div>
              <div *ngIf="jobForm.hasError('salaryRange') && jobForm.touched" class="text-danger error-msg">
                Max value should be greater than Min value.
              </div>
            </div>

            <div class="mb-3">
              <label for="companyUrl" class="form-label">Company Website URL</label>
              <input type="text" id="companyUrl" class="form-control shadow-none" formControlName="companyUrl">
              <div *ngIf="jobForm.get('companyUrl')?.touched && jobForm.get('companyUrl')?.invalid"
                class="text-danger error-msg">
                <span *ngIf="jobForm.get('companyUrl')?.hasError('pattern')">Enter a valid URL.</span>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col">
                <label for="companyEmail" class="form-label">Email</label>
                <input type="companyEmail" id="companyEmail" class="form-control shadow-none"
                  formControlName="companyEmail" required>
                <div *ngIf="jobForm.get('companyEmail')?.touched && jobForm.get('companyEmail')?.invalid"
                  class="text-danger error-msg">
                  Valid email is required.
                </div>
              </div>
              <div class="col">
                <label for="phone" class="form-label">Phone Number</label>
                <input type="tel" id="phone" class="form-control shadow-none" formControlName="phone" required
                  maxlength="10">
                <div *ngIf="jobForm.get('phone')?.touched && jobForm.get('phone')?.invalid"
                  class="text-danger error-msg">
                  <span *ngIf="jobForm.get('phone')?.hasError('required')">Phone number is required.</span>
                  <span *ngIf="jobForm.get('phone')?.hasError('pattern')">Enter a valid 10-digit phone number.</span>
                </div>
              </div>

            </div>
          </div>
          <div class="modal-footer popup-btn border-top-0">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="formReset()">Close</button>
            <button type="submit" class="btn btn-primary">Post</button>
          </div>
        </form>
      </div>
    </div>
  </div>


  <div class="modal fade" id="jobDetais" #jobDetais tabindex="-1" aria-labelledby="jobDetais" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 400px;">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title fs-14" id="jobFormModalLabel">Recruiter's Contact Information</h5>
          <button type="button" class="btn-close shadow-none" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body fs-14">
          <div class="row mb-3 fs-14" *ngIf="selectedJob?.companyName">
            <div class="col-4">Organisation :</div>
            <div class="col-8">
              <ng-container *ngIf="selectedJob?.companyUrl; else plainText">
                <a [href]="selectedJob?.companyUrl" target="_blank" rel="noopener noreferrer">
                  {{ selectedJob?.companyName }}
                </a>
              </ng-container>
              <ng-template #plainText>
                <span class="text-muted">{{ selectedJob?.companyName }}</span>
              </ng-template>
            </div>

          </div>
          <div class="row mb-3 fs-14" *ngIf="selectedJob?.companyEmail">
            <div class="col-4">Email ID :</div>
            <div class="col-8 cur_pointer" (click)="sendContact(selectedJob?.companyEmail)"><a class="text-blue">{{
                selectedJob?.companyEmail }}</a></div>
          </div>
          <div class="row mb-3 fs-14" *ngIf="selectedJob?.phone">
            <div class="col-4">Contact :</div>
            <div class="col-8">{{ selectedJob?.phone }}</div>
          </div>
          <!-- <div class="row mb-3 fs-14" *ngIf="selectedJob?.companyUrl">
            <div class="col-4">Company URL :</div>
            <div class="col-8">{{ selectedJob?.companyUrl }}</div>
          </div> -->
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="deletejobConfirmation" tabindex="-1" aria-labelledby="deletejobConfirmation"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header border-bottom-0 text-black">
          <h5 class="modal-title fs-16" id="jobFormModalLabel">
            <!--  <i class="fas fa-exclamation-triangle me-2"></i> -->
            Confirmation
          </h5>
          <!-- <button type="button" class="btn-close shadow-none" data-bs-dismiss="modal" aria-label="Close"></button> -->
        </div>
        <div class="modal-body text-center" style="margin-top: -15px;">
          <p class="fs-14">Are you sure you want to delete this item?</p>
        </div>
        <div class="modal-footer border-top-0 popup-btn justify-content-end">
          <button type="button" class="btn btn-primary shadow-none" (click)="deleteJob(selectedJob)"
            data-bs-dismiss="modal">
            Yes
          </button>
          <button type="button" class="btn btn-outline-secondary shadow-none" data-bs-dismiss="modal">
            No
          </button>
        </div>
      </div>
    </div>
  </div>


  <div *ngIf="isDisplayCoins">
    <app-coins-blast [coins]="displayCoins"></app-coins-blast>
  </div>

  <app-spinner *ngIf="showSpinner"></app-spinner>

</body>